@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("../public/images/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
